.App{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    
}

.Sidebar {
    flex-basis: 20%;
    background-color: #555555;
    height: 140vh;
}

.Topbar {
    flex-basis: 80%;
    
}